.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  width: 200px;
  box-shadow: 5px 10px 8px 3px black;
  margin-bottom: 20px;
}

.charName {
  text-align: center;
  color: black;
  font-size: 15px;
  margin: 10px 10px;
}

.poster {
  width: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
