.cardsContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 900px;
  margin-top: 50px;
  gap: 50px;
  padding-bottom: 20px;
}

.formContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
}

.eventInput {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px 15px;
  background-color: rgb(214, 214, 214);
}

.eventInput::placeholder {
  color: rgb(115, 115, 115);
}

/* .inputIcon {
  background-color: transparent;
  border: none;
} */
