.cardsContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 900px;
  margin-top: 50px;
  gap: 50px;
  padding-bottom: 20px;
}

.loading_Img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.noCharacters {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  text-decoration: none;
}
