.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px 150px;
  height: 100%;
}

.formContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
}

.charInput {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px 15px;
  background-color: rgb(214, 214, 214);
}

.charInput::placeholder {
  color: rgb(115, 115, 115);
}

.loading_Img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}
