.cardContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 10px 15px 10px black;
}

/* .cardContainer:hover .charDiv {
  opacity: 1;
} */

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.cardMenu {
  display: flex;
  align-self: center;
  gap: 50px;
}

.cardImage {
  display: flex;
  width: 250px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cardTitle {
  font-size: 22px;
}

.description {
  line-height: 25px;
}

.charDiv {
  position: absolute;
  display: none;
  justify-content: space-between;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comicDiv {
  position: absolute;
  display: none;
  justify-content: space-between;
  height: 250px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlayChar {
  background-color: rgba(0, 0, 0, 0.382);
  backdrop-filter: blur(4px);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: -20px;
  left: -10px;
  bottom: -20px;
  right: 0;
}

.overlayComic {
  background-color: rgba(0, 0, 0, 0.382);
  backdrop-filter: blur(4px);
  border-top-right-radius: 20px;
  position: absolute;
  top: -20px;
  left: -10px;
  bottom: -20px;
  right: 0;
}

span,
p {
  color: black;
}

.comicDivDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charDivDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardOption:hover {
  cursor: pointer;
}
