.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 100px;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border-radius: 20px;
  box-shadow: 5px 10px 8px 3px black;
  margin-bottom: 20px;
  position: relative;
}

.comicTitle {
  text-align: center;
  color: black;
  font-size: 15px;
  margin: 10px 10px;
}

.poster {
  width: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.comicOptions {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.712);
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  bottom: 0;
  padding-top: 20px;
  transition: opacity 0.35s ease-in;
}

.card:hover .comicOptions {
  opacity: 1;
}

.card:hover .comicTitle {
  opacity: 0;
  transition: opacity 0.35s ease-in;
}

.comicOptions span {
  margin-left: 15px;
  color: white;
}

.link {
  text-decoration: none;
}
