.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.navMenu {
  display: flex;
  gap: 100px;
  list-style: none;
}

.navImage {
  height: 200px;
}

.imageContainer {
  display: flex;
  gap: 90px;
  padding-top: 10px;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.navLink:hover {
  color: rgb(68, 68, 255);
  font-size: 22px;
}

.active {
  color: rgb(68, 68, 255);
  font-size: 22px;
}
