.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-image: url("../../images/nav_background.jpg");
  background-size: 1400px;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.79);
  z-index: 0;
}

.navMenu {
  display: flex;
  gap: 100px;
  list-style: none;
  z-index: 1;
}

.navImage {
  height: 200px;
  filter: drop-shadow(5px 5px 5px rgb(60, 60, 60));
  z-index: 1;
}

.imageContainer {
  display: flex;
  gap: 90px;
  padding-top: 10px;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.navLink:hover {
  color: rgb(106, 160, 255);
}

.active {
  color: rgb(106, 160, 255);
}
